/*==================================
LISTS
==================================*/

ul, ol {
  margin: 0 0 20px;
  padding: 0;
  list-style-position: outside;
}

li {
  margin-left: 1em;
}

// Social

ul.social_icons {
  margin: 0;
}

ul.social_icons li {
    display: inline-block;
    margin-right: 10px;
}