/*==================================
FONT FACE
==================================*/

// Sofia Bold

@font-face {
  font-family: 'sofiapro-bold';
  src: url('../fonts/sofiapro-bold/SofiaProBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/sofiapro-bold/SofiaProBold.otf')  format('opentype'),
         url('../fonts/sofiapro-bold/SofiaProBold.woff') format('woff'), url('../fonts/sofiapro-bold/SofiaProBold.ttf')  format('truetype'), url('../fonts/sofiapro-bold/SofiaProBold.svg#SofiaProBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Sofia Semibold

@font-face {
  font-family: 'sofiapro-semibold';
  src: url('../fonts/sofiapro-semibold/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/sofiapro-semibold/SofiaProSemiBold.otf')  format('opentype'),
         url('../fonts/sofiapro-semibold/SofiaProSemiBold.woff') format('woff'), url('../fonts/sofiapro-semibold/SofiaProSemiBold.ttf')  format('truetype'), url('../fonts/sofiapro-semibold/SofiaProSemiBold.svg#SofiaProSemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Beirut

@font-face {
  font-family: 'beirut';
  src: url('../fonts/beirut/BeirutText-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/beirut/BeirutText-Regular.otf')  format('opentype'),
	     url('../fonts/beirut/BeirutText-Regular.woff') format('woff'), url('../fonts/beirut/BeirutText-Regular.ttf')  format('truetype'), url('../fonts/beirut/BeirutText-Regular.svg#BeirutText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*==================================
FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
    font-size: 16px;
    line-height: 16px;
    font-family: 'beirut', sans-serif;
}

body {
    color: $black;
}

p {
    font-size: 16px;
    line-height: 20px;
    font-family: 'sofiapro-semibold', sans-serif;
    margin: 0px 0px 10px;
    font-weight: 400;

    @include mobile {
        font-size: 14px;
        line-height: 18px;
    }
}

h1, .h1 {
    font-size: 50px;
    line-height: 50px;
    font-family: 'beirut', sans-serif;
    font-weight: normal;

    @include mobile_landscape {
        font-size: 35px;
        line-height: 35px;
    }
}

h2, .h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    font-family: 'beirut', sans-serif;
    font-weight: normal;
    // letter-spacing: .1em;

    @include mobile_landscape {
        font-size: 25px;
        line-height: 30px;
    }

    @include mobile {
        font-size: 20px;
        line-height: 25px;
    }
}

h3, .h3 {
    font-size: 23px;
    line-height: 28px;
    font-weight: normal;
    font-family: 'beirut', sans-serif;

    @include mobile_landscape {
        font-size: 18px;
        line-height: 23px;
    }
}

p, h1, h2, h3 {
	margin: 0px 0px 20px;
}

h1, h2, h3 {
	letter-spacing: .4px;
}

// Bold

b, strong {
}

/*==================================
LINKS
==================================*/

a, a:visited, a:active, a:focus {
	color: inherit;
	text-decoration: none;
	outline: 0;
}

a {
	transition: color .2s ease-in-out;

	&:hover {
		color: $black;
	}
}


/*==================================
Other styles
==================================*/

.location_info_column p,
.font_red {
    color: $orange;
    font-family: 'beirut', sans-serif;
    padding-right: 20px;
    font-size: 14px;
    line-height: 18px;
}

small,
.small {
    font-family: 'beirut', sans-serif;
    font-size:12px;
    line-height: 14px;
}