/*==================================
COLORS
==================================*/

.white {
  color: $white;
}

.color_orange {
  color: $orange;
}

.color_navy{
  color: $navy;
}

.text_navy {
  color: $navy;
}

.text_blue {
  color: $blue;
}

.text_red {
  color: $red;
}

.text_green {
  color: $green;
}

/*==================================
MARGINS
==================================*/

.margin_bottom_0 {
  margin-bottom: 0px;
}

/*==================================
FONTS
==================================*/

.uppercase {
  text-transform: uppercase;
}