/*================
COLORS
================*/

// Neutrals

$white: #FFFFFF;
$black: #000000;
$cream: #fff5f3;

// Greys

$grey: #86888A;

// Vibrants

$navy: #181434;
$orange: #ff555c;
$teal: #41b8b7;

$blue: #459FCB;
$red: #E98685;
$green: #67A98F;