/*==================================
Artist Images
==================================*/

section.artist_section {
    width: 100%;
    height: 100vh;
    z-index: 13;
    display: flex;
    justify-content: center;
    align-items: center;
            
    @include mobile_landscape {
        height: auto;
        min-height: 100vh;
        padding-top: 100px;
    }
    
    @include mobile_landscape_orientation {
        padding-top: 30px;
    }
}

// Content

.artist_content_container {
    max-width: 800px;
    width: 80%;
    padding-top: 50px;
    
    @include mobile {
        padding-top: 0;
    }
}

// Thank You Message

.artist_content_container .video_embed {
    margin-bottom: 20px;
}

.thank_you_message {
    text-align: center;
}

.thank_you_message h2 {
    font-size: 23px;
    line-height: 30px;
    
    @include tablet {
        font-size: 16px;
        line-height: 23px;
    }
}

// Images

.artist_images_container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include tablet {
        height: 400px;
    }
    
    @include mobile_landscape {
        height: 350px;
    }
    
    @include mobile {
        height: 230px;
    }
    
    @include mobile_landscape_orientation {
        height: 300px;
        padding-top: 80px;
    }
}

.artist_images {
    width: 800px;
    position: relative;
    margin: 0 auto;
    height: 500px;

    @include large_desktop {
        width: 1000px;
        height: 600px;
    }
    
    @include tablet {
        width: 80%;
        height: 100%;
    }
    
    @include mobile_landscape_orientation {
        width: 50%;
    }
    
}

.artist_image_set {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.artist_image_set img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    transform-style: preserve-3d;

    &:nth-child(1) {
        transform: translate(10px, 4px);
    }
    &:nth-child(2) {
        transform: translate(-40px, 0px);
    }
    &:nth-child(3) {
        transform: translate(20px, 0px);
    }
    &:nth-child(4) {
        transform: translate(-20px, 13px);
    }
}

.artist_image_set.leaving img {
    opacity: 1;
    transform: scale(.8);
    transition: all .3s ease-in-out;
}

.artist_image_set.loading img {
    opacity: 1;
    transform: translate(0,0);
    transition: all 1s;
}

.artist_image_set.active img {
    opacity: 1;
    transform: translate(0,0);
}

/*==================================
Artist Names
==================================*/

.artist_names {
    list-style: none;
    text-align: center;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    opacity: 1;
    z-index: 10;
    transition: all 1s ease-in-out;
    
    @include large_desktop {
       max-width: 1200px;
    }

    font-size: 35px;
    line-height: 40px;

    @include large_desktop {
        font-size: 45px;
        line-height: 50px;
    }
    
    @include tablet {
        font-size: 25px;
        line-height: 30px;
    }

    @include mobile_landscape {
        font-size: 16px;
        line-height: 16px;
    }
    
    @include mobile_landscape_orientation {
        font-size: 13px;
        line-height: 13px;
    }  

    span,
    .big-font {
        display: inline-block;
        
        color: $navy;
        transition: .3s all;
        
    }


    &.active {
        color: $teal;
    }
}


body.loaded .artist_names {
    opacity: 1;
}

ul.artist_names li {
    display: inline-block;
    margin: 0 0 15px;
    font-family: 'beirut', serif;
    
    @include tablet {
        margin: 0 0 10px;
        display: block;
    }
    
    @include mobile_landscape_orientation {
        margin: 0 0 5px;
    } 
}


// Bullets

ul.artist_names li:after {
    content: '';
    display: block;
    width: 0.12em;
    height: 0.12em;
    background: transparent;
    border: 1px solid;
    transform: rotate(45deg) translate(-0.1em, -0.05em);
    transform-origin: left bottom;

    position:absolute;

    top:50%;
    right:-0.25em;
    
    @include tablet {
        display: none;
        position:relative;
        top:auto;
        right:-0.2em;
        transform: rotate(45deg) translate(-0.1em, -0.3em);
        margin-left: -0.12em;
    }
        
}

/*ul.artist_names li {
    &:nth-child(4), &:nth-child(6), &:nth-child(10), &:nth-child(12) {
        &:after {
            display: none;
        }
    } 
}*/

ul.artist_names {
    opacity:0;
    &, * {
        transition: none !important;
    }
    padding-left: 20px;
}

ul.artist_names li {
    position:relative;
    padding-left:0.3em !important;
    padding-right:0.3em !important;
    .before {
        display:block;
        position:absolute;
        top:0;
        left:0;
    }
    .after {
        display:block;
        position:absolute;
        bottom:0;
        right:0;
    }
}
ul.artist_names li.no_separator:after {
    //display:none !important;
    opacity:0;
}   
ul.artist_names li.no_separator_next:before {
    //content: "\A";
}

ul.artist_names li:last-child:after {
    display: none;
}



.artist_names span.mobile_block {
    @include mobile_landscape {
        display: block;
    }
}

// Super

span.super {
    font-size: 16px;
    line-height: 16px;
    vertical-align: super;
    padding-left: 5px;
    
    @include tablet {
        font-size: 10px;
        line-height: 10px;
    }
    
    @include mobile_landscape {
        display: block;
        padding-left: 0;
    }
}

/*==================================
Fixed Section Elements
==================================*/

// Moon Layer

.moon_animation_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}
.giveaway_page .moon_animation_container {
    z-index: 0;
}

body.scrolled .moon_animation_container {
    opacity: .3;
}

img.moon_animation {
    height: 60%;
    
    @include tablet {
        height: 80%;
    }
}

img.moon_animation.desktop {
    @include tablet {
        display: none;
    }
}

img.moon_animation.mobile {
    display: none;
    @include tablet {
        display: block;
    }
}

// Full Moon Type Layer

.type_layer_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    opacity: 1;
    transition: opacity .3s ease-in-out .3s;
}

body.scrolled .type_layer_container {
    opacity: .3;
}

img.type_layer {
    height: 60%;
    
    @include tablet {
        height: 80%;
    }
}

img.type_layer.desktop {
    @include tablet {
        display: none;
    }
}

img.type_layer.mobile {
    display: none;
    @include tablet {
        display: block;
    }
}

// Paint

img.paint_01 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 60px;
    opacity: 1;
    
    @include large_desktop {
        width: 80px;
    }
    
    @include tablet_landscape {
        width: 30px;
    }
    
    @include mobile_landscape {
        width: 30px;
    }
}

img.paint_02 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    opacity: 1;
    
    @include large_desktop {
        width: 70px;
    }
    
    @include tablet_landscape {
        width: 30px;
    }
    
    @include mobile_landscape {
        width: 20px;
    }
}