/*-----------
Structure
-----------*/

h1.form_title {
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    
    @include tablet {
        margin-bottom: 40px;
    }
    
    @include mobile_landscape {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 20px;
    }
}

/*-----------
Fields
-----------*/

.form_field {
    margin-bottom: 15px;
    display: flex;
}

.form_field label {
    font-family: 'sofiapro-semibold', sans-serif;
    font-size: 20px;
    line-height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
    
    @include mobile_landscape {
        font-size: 16px;
        line-height: 16px;
    }
}

.form_field input {
    font-family: 'sofiapro-semibold', sans-serif;
    background: 0;
    border: 0;
    border-bottom: 1px solid;
    transform: translateY(-5px);
    outline: 0;
    flex: 1;
    
    @include mobile_landscape {
        transform: translateY(-10px);
    }
}

// Submit

.form_submit_container {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    
    @include mobile_landscape {
        margin-top: 20px;
    }
}

.form_submit_container button {
    outline: 0;
    cursor: pointer;
}

.form_submit_container img {
    width: 200px;
    margin: 0 auto;
    
    @include mobile_landscape {
        width: 100px;
    }
}

/*-----------
Message
-----------*/

.rsvp_message {
    background: $orange;
    text-align: center;
    padding: 10px;
    color: $white;
    display: none;
    
    p {
        margin-bottom: 0;
        color: $white;
    }
}