/*==================================
Fixed Elements
==================================*/

.fixed_elements {
    z-index: 80;
    position: relative;
    opacity: 1;
    transition: all 1s ease-in-out;
}

body.loaded .fixed_elements {
    opacity: 1;
}

// Logo

.fixed_elements .logo {
    position: fixed;
    top: 50px;
    left: 100px;
    width: 150px;
    
    @include tablet_landscape {
        top: 30px;
        left: 30px;
        width: 100px;
    }
}

// A MATTE Project

.fixed_elements .a_matte_project {
    position: fixed;
    font-family: 'beirut', serif;
    margin-bottom: 0;
    transform: rotate(-90deg);
    top: 50%;
    margin-top: -20px;
    left: 80px;
    font-size: 20px;
    
    @include tablet_landscape {
        margin-top: -13px;
        left: -40px;
        font-size: 13px;
    }
}

// Title Font

.fixed_elements h3 {
    margin-bottom: 0;
    
    @include tablet_landscape {
        font-size: 15px;
        line-height: 20px;
    }
}

// Location

.fixed_elements .location {
    position: fixed;
    bottom: 50px;
    left: 100px;
    
    @include tablet_landscape {
       bottom: 30px;
       left: 30px;
    }
}

// Date

.fixed_elements h3.date {
    position: fixed;
    bottom: 60px;
    right: 100px;
    
    @include tablet_landscape {
       bottom: 30px;
       right: 30px;
    }
}

.fixed_elements h3.time {
    position: fixed;
    bottom: 70px;
    right: 50%;
    margin-right: -100px;
    width: 200px;
    text-align: center;
    
    @include tablet_landscape {
       bottom: 45px;
    }
}

// Social Icons

.fixed_elements ul.social_icons {
    position: fixed;
    list-style: none;
    padding: 0;
    top: 50%;
    margin-top: -80px;
    right: 150px;
    transition: all .5s ease-in-out;
    
    @include tablet_landscape {
        right: 10px;
        margin-top: -70px;
    }
    
}

ul.social_icons li {
    display: block;
    margin: 10px 0;
}

ul.social_icons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: $navy;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: $cream;
    font-size: 10px;
    text-decoration: none;
    transition: all .3s ease-in-out;

    &:hover {
        background: $cream;
        color: $navy;
    }
    
    @include mobile_landscape {
        width: 15px;
        height: 15px;
        font-size: 7px;
    }
}

// RSVP Button

.fixed_elements .rsvp_button {
    width: 170px;
    height: auto;
    position: fixed;
    top: 45px;
    right: 80px;
    z-index: 10;
    transition: all .3s ease-in-out;
    
    &:hover {
        filter: contrast(80%);
    }
    
    @include tablet_landscape {
        top: 30px;
        right: 20px;
        width: 100px;
        opacity: 1;
    }
}