/*==================================
STRUCTURE
==================================*/

.gallery_grid {
	display: flex;
	flex-flow: row wrap;
}

.gallery_item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;

    @include large_desktop {
        height: 550px;
    }

    @include tablet_landscape {
        height: 350px;
    }

    @include tablet {
        height: 250px;
    }

    @include mobile_landscape {
        height: 200px;
    }

    @include mobile {
        height: 100px;
    }
}

// Item Sizes

.gallery_item.half {
    width: 50%;
}

.gallery_item.quarter {
    width: 25%;
}