body.giveaway_page {
    @include tablet() {
        .fixed_elements > *:not(.logo) {
            display:none;
        }
        .fixed_elements {
            position:relative;
            display:block;
            height:auto;
            text-align: center;
            padding-top:60px;
            @include mobile_landscape {
                padding-top: 50px;
            }
    
            @include mobile {
                padding-top: 45px;
            }
            .logo {
                position:relative;
                display: inline-block;
                top:0;
                left:0;
                width:211px;

                @include mobile_landscape {
                        width:175px;
                }
            }
        }
    }

}

.giveaway_container {
    width: 70%;
    display: block;
    margin:0 auto;
    max-width: 1600px;
    z-index: 10;
    position: relative;
    text-align: center;

    &:not(.last){
        margin-bottom: 88px;
        @include tablet_landscape(){
            margin-bottom: 60px;
        }
        @include mobile {
            margin-bottom: 30px;
        }
    }
    &.last {
        margin-bottom: 70px;
        @include tablet_landscape(){
            margin-bottom: 40px;
        }
    }

    @media only screen and (max-width: 1300px) {
        width: 50%;
    }

    @include tablet_landscape(){
        width: 70%;
    }

    @include tablet(){
        width: 100%;
        padding-left:30px;
        padding-right: 30px;
    }


    &.first {
        padding-top: 198px;

        @include tablet_landscape_orientation(){
            padding-top:120px;
        }

        @media all and (max-width: 900px){
            padding-top:100px;
        }

        @include tablet() {
            padding-top:50px;
        }
        
        
        @include mobile_landscape {
            padding-top: 40px;
        }

        @include mobile {
            padding-top: 30px;
        }
    }   
  
}

#giveaway_info {
    
    .giveaway_info {

        .giveaway_info_title,
        .giveaway_info_detail {
            margin-bottom:66px;
        }

        .giveaway_info_title {
            display:block !important;
            width:100%;
            padding-bottom: 0;
            @include tablet_landscape(){
                margin-bottom: 40px;
            }
        }

        .giveaway_info_detail{
            @include tablet_landscape(){
                margin-bottom: 22px;
            }
        }
        .giveaway_info_detail_2{
            font-size: 19px;
            line-height: 25px;
            font-weight: normal;
            font-family: 'beirut', sans-serif;

            margin-bottom:8px;

            @include mobile_landscape {
                font-size: 14px;
                line-height: 19px;
                margin-bottom:0px;
                padding-top:10px;
            }
        }

        .giveaway_info_red {
            margin-bottom:red;
            text-align: center;
            margin-bottom: 78px;
            @include tablet_landscape(){
                margin-bottom: 60px;
            }
            @include mobile {
                margin-bottom: 30px;
            }
            
        }
    }
}



#giveaway_partners {
    text-align: center;
    margin-bottom: 40px;

    .partners-pair-wrapper {
        display:inline-block;
    }
    .partner {
        display:inline-block;
        margin: 0 21px 30px;
        vertical-align: middle; 
        @include tablet_landscape(){
            margin: 0 14px 17px;
        }
       
    }

    .giveaway_partners_mobile {
        display:none;
    }

    @include tablet_landscape(){

        max-width: 500px;
        .giveaway_partners_mobile {
            display:block;
        }

        .giveaway_partners_desktop {
            display:none;
        }
    }
}

#giveaway_disclaimer {
    @media only screen and (max-width: 1100px) and  (min-width: 1025px)  {
        width: 45%;
    }

    max-width: 60vw;

    @include tablet_landscape(){
        max-width: 65vw;
    }

    @include tablet(){
        max-width: 100vw;
        
        //display:none;
    }
}

.giveaway_date {
    font-size:19px;
    line-height: 20px;
    display:none;
    margin-bottom: 50px;

    @include tablet() {
        display:block;
        width:100%;
    }
    
    @include mobile_landscape {
        margin-bottom: 40px;
    }

    @include mobile {
        margin-bottom: 30px;
    }


}



#giveaway_artists {

    
        
    h3.v1 {
        color:$orange;
        text-transform: Uppercase;
        letter-spacing: 1.1em;
        font-size:32px;
        line-height: 1.3em;
        margin-bottom: 30px;
        padding-left: 0.55em;
    }

    h3.v2 {
        color:$orange;
    }
    
    h3.v3 {
        /*font-size:32px;
        line-height: 1.3em;*/
    }

    .giveaway_artists_list {

        .artist_names {
            max-width: 870px;
            font-size:23px;
            line-height: 28px;
        }



        li {
            display:inline-block !important;
            position:relative !important;

            @include mobile {
                display: inline !important;
            }

            margin:0;
            padding:0;

            span {
                display:inline;
            }

            .super {
                font-size:0.5em;
                padding-left: 0.2em;
            }

            &:not(:last-child):after {
            
                @include tablet {
                    display: inline-block;
                }

            }
                
        }
    }


    @include tablet() {
        display:block;

        margin-bottom:78px !important;
        width:100%;
        padding-left: 15px;
        padding-right: 15px;

       /* h3.v3 {
            font-size:23px;
             line-height: 28px;
        }*/

        h3.v1 {
            font-size:23px;
            margin-bottom: 20px;
        }

        .giveaway_artists_list .artist_names {
            font-size:18px;
            line-height: 26px;

            &:not(:last-child):after {
            
             

            }

        }

       
    }

    @include mobile(){
        h3.v1 {
            font-size:20px;
            margin-bottom: 20px;
            padding-top: 10px;
        }
    }
}