/*==================================
STRUCTURE
==================================*/

section.lineup {
	position: relative;
	padding: 150px 0 0;

    @include mobile_landscape {
        padding: 40px 0 0;
    }
}

/*==================================
STAGES
==================================*/

// Structure

.stages_container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.stages {
    display: flex;
    flex-flow: row wrap;
}

.stage {
    width: 33.33%;
    padding: 0 20px;

    @include mobile_landscape {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }
}

.stage:nth-child(2) {
    @include mobile_landscape {
        order: -1;
    }   
}

// Header

.stage_header {
    margin-bottom: 50px;
}

.stage_header h1 {
    text-transform: uppercase;
}

.day_night {
    display: flex;
    justify-content: center;
}

.day_night p {
    padding: 0 10px;
}

// List

.stage h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;

    @include tablet {
        font-size: 30px;
        line-height: 30px;
    }
}

ul.stage_list {
    list-style: none;
}

.stage_list li {
    font-size: 26px;
    line-height: 26px;
    margin: 0 0 30px;
    font-family: 'beirut', sans-serif;

    @include tablet {
        font-size: 20px;
        line-height: 23px;
    }

    @include mobile_landscape {
        margin-bottom: 10px;
    }
}

.stage_list li span.small {
    display: block;
    font-size: 15px;
    line-height: 15px
}

.stage_list li span.setlist_time {
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
}

/*==================================
LINEUP LIST
==================================*/

ul.lineup_list {
	display: flex;
	flex-flow: row wrap;
	width: 80%;
    max-width: 1400px;
	margin: 0 auto 100px;
    list-style: none;
}

ul.lineup_list li {
	width: 25%;
	padding: 0 40px;
	margin-bottom: 40px;

	img {
		width: 100%;
	}

	@include tablet_landscape {
		padding: 0 20px;
	}

	@include tablet {
		width: 33.33%;
		margin-top: 0 !important;
	}

	@include mobile_landscape {
		width: 50%;
        margin: 0 0 10px !important;
	}
}

// List Artist Margin Adjustments

ul.lineup_list li:nth-child(1) {
    margin-top: 60px;
}

ul.lineup_list li:nth-child(2) {
    margin-top: 80px;
}

ul.lineup_list li:nth-child(4) {
    margin-top: 60px;
}

ul.lineup_list li:nth-child(5) {
    margin-top: -60px;
}

ul.lineup_list li:nth-child(9) {
    margin-top: -130px;
}

ul.lineup_list li:nth-child(7), ul.lineup_list li:nth-child(11) {
    margin-top: -80px;
}