.tickets_container {
    z-index: 100;
    position: relative;  
}

/*==================================
Header
==================================*/

.tickets_header {
    text-align: center;
    margin-bottom: 50px;
    
    @include mobile_landscape {
       margin-bottom: 30px;
    }
}

// Logo

.tickets_header .logo {
    width: 350px;
    margin: 0 auto 30px;
    display: block;
    
    @include mobile_landscape {
        width: 250px;
        margin: 0 auto 15px;
    }
}

// Info

.tickets_header_info {
    margin-bottom: 30px;
    
    @include mobile_landscape {
        margin-bottom: 15px;
    }
}

.tickets_header h3 {
    margin-bottom: 5px;
}

/*==================================
Eventbrite Embed
==================================*/

.eventbrite_fallback_container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.eventbrite_fallback_container img {
    width: 200px;
    
    @include mobile_landscape {
        width: 150px;
    }
}
